# tezos-endorser-005-PsBabyM1

[Unit]
After = tezos-node.service
BindsTo = tezos-node.service
Description = Tezos Endorser 005-PsBabyM1
Documentation = http://tezos.gitlab.io/mainnet/
Wants = network-online.target

[Service]
ExecStart = /usr/bin/tezos-endorser-005-PsBabyM1 run ledger
ExecStartPre = /bin/sleep 5
Group = tezos
Restart = on-failure
RestartSec = 60
TimeoutStopSec = 15min
User = tezos
WorkingDirectory = /var/lib/tezos/

[Install]
WantedBy = tezos-node.service
