# tezos-endorser-004-Pt24m4xi

[Unit]
After = tezos-node.service
BindsTo = tezos-node.service
Description = Tezos Endorser
Documentation = http://tezos.gitlab.io/mainnet/
Wants = network-online.target

[Service]
ExecStart = /usr/bin/tezos-endorser-004-Pt24m4xi run ledger
ExecStartPre = /bin/sleep 5
Group = tezos
Restart = on-failure
RestartSec = 60
User = tezos
WorkingDirectory = /var/lib/tezos/

[Install]
WantedBy = tezos-node.service
