# tezos-accuser-003-PsddFKi3

[Unit]
After = tezos-node.service
BindsTo = tezos-node.service
Description = Tezos Accuser
Documentation = http://tezos.gitlab.io/mainnet/
Wants = network-online.target

[Service]
ExecStart = /usr/bin/tezos-accuser-003-PsddFKi3 run
ExecStartPre = /bin/sleep 5
Group = tezos
Restart = on-failure
RestartSec = 60
User = tezos
WorkingDirectory = /var/lib/tezos/

[Install]
WantedBy = tezos-node.service
